h1, h2, h3, h4, h5, h6
	color: white

.btn-alt
	border: 1px white solid
	border-radius: 20px
	background-color: transparent
	color: white
	font-size: 1em

#header, #content1, #content2, #content3
	color: white
	height: 100%
	padding-top: 5rem
	text-align: center
	overflow: hidden

#header
	padding-top: 10%
	background-image: url('https://www.box.com/sites/all/themes/at-box/templates/microsites/boxnotes/img/bkg.jpg')
	background-size: cover
	background-repeat: no-repeat

#content1
	background-color: #5390cb

#content2 
	background-color: #323e4f

#content3
	background-color: #4c5d76

#footer
	height: 5rem
	background-color: #333333

ul 
	text-align: center
	padding-top: 1.7rem
ul li
	display: inline
	padding: 0 10px
	border-left: solid 1px
	font-size: 0.8rem
	color: white

ul li:first-child
	border-left: none

img
	align: middle
	margin-bottom: 3rem
	margin-top: 5rem

#little
	position: relative
	right: 7rem

@media screen and (max-width: 600px)
	#header, #content1, #content2, #content3
		height: 500px
